<!-- login form -->
<canvas height="24px"></canvas>
<% if Rails.env.development?%>
<p class="debug_dump debug_info"><%= __FILE__ %></p>
<% end %>
<div class="page_prompt">
Log in to <span class="kanrenlogo">&nbsp;&nbsp;&nbsp;rkanren&nbsp;&nbsp;&nbsp;</span>, or
  &nbsp;<span class="larger_font"><b><%= link_to 'register',new_user_path %></b></span>, if you haven't done so yet, or <%= link_to 'continue', controller: 'dicts' %> as a unregistered guest user.
</div>

<hr class="kanren_hr">

<div class="login">
  <%# By default, form_for uses POST. Submitting the form goes hence to sessions#create %>
  <%= form_for :session, url: sessions_path do |f| %>
    <div class="centered">
      <%= f.label :name, 'User ID' %>
      <%= f.text_field :name, class: 'user_mgt_req_entry', maxlength:24, size:24 %>
      <%= f.label :password, 'Password' %>
      <%= f.password_field :password, class: 'user_mgt_req_entry' %>
    </div>
    <div class="centered">
      <%# link_to "Can't remember the password!", password_reminder_path, {class: 'pseudo_button', method: 'get'} %>
      <%= f.submit 'Log in now', class: "kanren_button", name: 'LOGIN' %>
      <%= link_to 'Use this site as a guest user', work_as_guest_path, {class: 'pseudo_button', method: 'delete'} %>
      <%= f.submit "Can't remember the password!", class: 'kanren_button', name: 'FORGOT_PWD' %>
    </div>
  <% end %>
</div>
<hr class="kanren_hr">
