<% if Rails.env.development?%>
<p class="debug_dump debug_info"><%= __FILE__ %></p>
<div class="clear"></div>
<% end %>
<%= form_for(@dict) do |f| %>
  <% if @dict.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dict.errors.count, "error") %> prohibited this dict from being saved:</h2>

      <ul>
      <% @dict.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dictname, 'Change Name' %><br>
    <%= f.text_field :dictname %>
  </div>
  <div class="field">
    <%= f.label :language, 'Change Type/Language' %><br>
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :world_readable, 'Public' %>
    <%= f.check_box :world_readable %>
  </div>
  <div class="actions">
    <%= f.submit value="Apply Changes", class: 'kanren_button' %>
  </div>
<% end %>
