<% if Rails.env.development?%>
<p class="debug_dump debug_info"><%= __FILE__ %></p><div class="clear"></div>
<% end %>

<h1>Dictionary <%= @dict.dictname %></h1>

<%= render 'form' %>

<%= link_to 'Proceed with using the dictionary', @dict %> |
<%= link_to 'Back', dicts_path %>
