<h1>Listing dicts</h1>

<table>
  <thead>
    <tr>
      <th>Dictname</th>
      <th>User</th>
      <th>Accessed</th>
      <th>Language</th>
      <th>Max level kanji</th>
      <th>Max level kana</th>
      <th>Max level gaigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dicts.each do |dict| %>
      <tr>
        <td><%= dict.dictname %></td>
        <td><%= dict.user %></td>
        <td><%= dict.accessed %></td>
        <td><%= dict.language %></td>
        <td><%= dict.max_level_kanji %></td>
        <td><%= dict.max_level_kana %></td>
        <td><%= dict.max_level_gaigo %></td>
        <td><%= link_to 'Show', dict %></td>
        <td><%= link_to 'Edit', edit_dict_path(dict) %></td>
        <td><%= link_to 'Destroy', dict, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dict', new_dict_path %>
