<!-- Dictionary Control Center -->

<p>
  Working with dictionary <strong><%= @dict.dictname %></strong>
  &nbsp;(<%= @dict.language %>), containing <%= pluralize(n_cards_in_dict(@dict),'entry') %>
  <% unless @has_kanji_entries_p %>
    <%= ', but no Kanji entry' %>
  <% end %>
</p>

<hr class="kanren_hr">

<%#= button_to 'Add Idiom XXX', {controller: 'cards', action: 'new'}, {method: 'get', class: 'kanren_button'} %>
<%= button_to 'Add Idiom', new_dict_card_path(@dict.id), {method: 'get', class: 'kanren_button', form_class: 'kanren_button_to'} %>

<%= button_to 'List Idioms', dict_cards_path(@dict.id), {method: 'get', class: 'kanren_button', form_class: 'kanren_button_to'} %>

<div class="clear"></div> <!-- because button_to uses floating -->

<hr class="kanren_hr">

<%= button_to 'Start Training',renshuu_path(@dict.id,Rkanren::GAIGO),{method: 'get', class: 'kanren_button', form_class: 'kanren_button_to'} %>
<%= button_to 'はじめまそう',renshuu_path(@dict.id,Rkanren::KANA),{method: 'get', class: 'kanren_button', form_class: 'kanren_button_to'} %>
<% if @has_kanji_entries_p %>
  <%= button_to '始めましょう',renshuu_path(@dict.id,Rkanren::KANJI),{method: 'get', class: 'kanren_button', form_class: 'kanren_button_to'} %>
<% end %>

<div class="clear"></div> <!-- because button_to uses floating -->

<hr class="kanren_hr">

<%= link_to 'Change name or type/language', edit_dict_path(@dict) %> |
<%= link_to 'Back', dicts_path %>
