<p id="notice"><%= notice %></p>

<p>
  Working with dictionary <strong><%= @dict.dictname %></strong>
  &nbsp;(<%= @dict.language %>)
</p>

<hr class="kanren_hr">
<hr class="kanren_hr">
<hr class="kanren_hr">

<%= link_to 'Change name or type/language', edit_dict_path(@dict) %> |
<%= link_to 'Back', dicts_path %>
