<p id="notice"><%= notice %></p>

<p>
  <strong>Dictname:</strong>
  <%= @dict.dictname %>
</p>

<p>
  <strong>User:</strong>
  <%= @dict.user %>
</p>

<p>
  <strong>Accessed:</strong>
  <%= @dict.accessed %>
</p>

<p>
  <strong>Language:</strong>
  <%= @dict.language %>
</p>

<p>
  <strong>Max level kanji:</strong>
  <%= @dict.max_level_kanji %>
</p>

<p>
  <strong>Max level kana:</strong>
  <%= @dict.max_level_kana %>
</p>

<p>
  <strong>Max level gaigo:</strong>
  <%= @dict.max_level_gaigo %>
</p>

<%= link_to 'Edit', edit_dict_path(@dict) %> |
<%= link_to 'Back', dicts_path %>
