<!-- Dictionary Control Center -->
<% if Rails.env.development?%>
<p class="debug_dump debug_info"><%= __FILE__ %></p>
<% end %>

<p>
  Working with
  <%= @dict.world_readable ? 'public' : 'private' %>
  dictionary <strong><%= @dict.dictname %></strong>
  &nbsp;(<%= @dict.language %>), containing <%= pluralize(@n_cards,'entry') %>
  <% unless @n_cards == 0 or @has_kanji_entries_p %>
    <%= ', but no Kanji entry' %>
  <% end %>
</p>

<hr class="kanren_hr">

<% if @n_cards < Rkanren::MAX_CARDS_PER_DICT %>
  <%#= button_to 'Add Idiom XXX', {controller: 'cards', action: 'new'}, {method: 'get', class: 'kanren_button'} %>
  <%= button_to 'Add Idiom', new_dict_card_path(@dict.id), {method: 'get', class: 'kanren_button', form_class: 'kanren_button_to'} %>
  <%# Shouldn't this be PATCH instead of GET? %>
  <%= button_to 'Upload Text File & Merge Into Dictionary', dict_upload_index_path(@dict.id), {method: 'get', class: 'kanren_button', form_class: 'kanren_button_to'} %>
    <%= button_to 'Import from other Dictionary', '#', {method: 'post', class: 'kanren_button', form_class: 'kanren_button_to'} %>
<% else %>
  Dictionary is full&nbsp;&nbsp;&nbsp;
<% end %>

<% if @n_cards > 0 %>
  <%= button_to 'List Idioms', dict_cards_path(@dict.id), {method: 'get', class: 'kanren_button', form_class: 'kanren_button_to'} %>
<% end %>

<div class="clear"></div> <!-- because button_to uses floating -->

<hr class="kanren_hr">

<% if @n_cards > 0 %>

  <%= button_to 'Start Training',renshuu_path(@dict.id,Rkanren::GAIGO),{method: 'get', class: 'kanren_button', form_class: 'kanren_button_to'} %>
  <%= button_to 'はじめまそう',renshuu_path(@dict.id,Rkanren::KANA),{method: 'get', class: 'kanren_button', form_class: 'kanren_button_to'} %>

<% end %>

<% if @has_kanji_entries_p %>
  <%= button_to '始めましょう',renshuu_path(@dict.id,Rkanren::KANJI),{method: 'get', class: 'kanren_button', form_class: 'kanren_button_to'} %>
<% end %>

<div class="clear"></div> <!-- because button_to uses floating -->

<hr class="kanren_hr">

<%= link_to 'Change properties', edit_dict_path(@dict) %> |
<%= link_to 'Back', dicts_path %> |
<% if current_userid_is_guest? %>
  <%= link_to 'Vote for deletion', '#' %>
<% else %>
  <%= link_to 'Donate this dictionary to the public', '#' %> |
  <%= link_to 'Delete this dictionary', '#', data: { confirm: 'Really delete? 本当ですか。' } %>
<% end %>
