<h1>Create a new idiom-set</h1>

<%= form_for [@dict,@card] do |f| %>

  Dictionary: <%= @dict.dictname %>
  <p>
  <%= f.label(:usernote) { 'Notes for this idiom:' } %>
  <br/>
  <!-- cols is only used for browsers which don't understand CSS's width
       attribute
  -->
  <%= f.text_area :usernote, class: 'optional_entry', rows: 3, cols: 36 %>
  </p>

  <hr class="kanren_hr">

  <p>
    Idiom in your language: <%= text_field_tag('gaigo', @gaigo_rep, maxlength:128, size:32, class:"idiom_entry") %>
    <br/>
    Notes:
    <br/>
    <%= text_area_tag('gaigo_notes', @gaigo_notes, class: 'optional_entry', rows: 3, cols: 36) %>
  </p>

  <hr class="kanren_hr">
  <hr class="kanren_hr">
  <hr class="kanren_hr">

  <%= f.submit(value="CREATE", class: 'kanren_button', name: 'create') %>

<%  end  %>
