<!DOCTYPE html>
<html>
<head>
  <title>Rkanren</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'fusshuhn_32x32.jpg' %>

  <!-- link rel="icon" type="image/jpeg" href="/assets/images/fusshuhn_32x32.jpg" sizes="32x32" --><!--fav-->
</head>
<body>

<%= yield %>
<footer>
  <nav class="centered">
    <%= link_to('Home',root_path) %>
    <%= request.fullpath == contact_path ? '' : link_to('Contact',contact_path) %>
  </nav>
</footer>
</body>
</html>
