<!DOCTYPE html>
<html>
<head>
  <title>Rkanren</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'fusshuhn_32x32.jpg' %>

  <!-- link rel="icon" type="image/jpeg" href="/assets/images/fusshuhn_32x32.jpg" sizes="32x32" --><!--fav-->
</head>
<body>
<div class="head_status">
  Current User: <%= current_user_name %>
  <%= current_user_is_guest? ? link_to('Login', login_path, method: 'get') : link_to('Profile', current_user, method: 'patch') + ' | ' + link_to('Logout', logout_path, method: 'delete') %>
</div>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><span><%= value %></span></div>
<% end %>
<canvas height="6px"></canvas>
<%= yield %>
<footer>
  <p class="notice"><%= notice %></p>
  <nav class="centered">
    <%= link_to('Home',root_path,class:"pseudo_button") %>
    <%= link_to image_tag('rails.png', height:42, alt:'Powered by RubyOnRails', class:'RORlogo'), 'http://rubyonrails.org/' %>
    <%= request.fullpath == contact_path ? '' : link_to('Contact',contact_path,class:"pseudo_button") %>
  </nav>
  <% if Rails.env.development?%>
    <%= debug(params)  %>
    <div class="debug_dump debug_info">
      Current User Id: <%= current_user_id %>
    </div>
  <% end %>
</footer>
</body>
</html>
